<div class="container">
  <h1>Assignment 4</h1>
  <div class="row forms">
    <div class="col-xs-12">
      <h2>Product Details</h2>
      <form name="frmProduct" [formGroup]="frmProduct" (ngSubmit)="save()">
        <div>
          <label>Product Row Id</label><br />
          <input type="text" formControlName="ProductRowId" name="ProductRowId">
          <div *ngIf="frmProduct.controls.ProductRowId.dirty && !frmProduct.controls.ProductRowId.valid"
            class="errorMessage">
            <p *ngIf="frmProduct.controls.ProductRowId.errors.required">Value is must</p>
            <p *ngIf="frmProduct.controls.ProductRowId.errors.minlength">Value must be 2 digits minimum</p>
            <p *ngIf="frmProduct.controls.ProductRowId.errors.maxlength">Value can be 8 digits maximum</p>
            <p *ngIf="frmProduct.controls.ProductRowId.errors.pattern">Value must be numeric</p>
          </div>
        </div>
        <div>
          <label>Product Id</label><br />
          <input type="text" formControlName="ProductId" name="ProductId" [attr.disabled]="updateProduct?'':null">
          <div *ngIf="frmProduct.controls.ProductId.dirty && !frmProduct.controls.ProductId.valid" class="errorMessage">
            <p *ngIf="frmProduct.controls.ProductId.errors.required">Value is must</p>
            <p *ngIf="frmProduct.controls.ProductId.errors.notUnique">
              {{frmProduct.controls.ProductId.errors.errorMessage}}
            </p>
          </div>
        </div>
        <div>
          <label>Product Name</label><br />
          <input type="text" formControlName="ProductName" name="ProductName">
          <div *ngIf="frmProduct.controls.ProductName.dirty && !frmProduct.controls.ProductName.valid"
            class="errorMessage">
            <p *ngIf="frmProduct.controls.ProductName.errors.required">Value is must</p>
          </div>
        </div>
        <div>
          <label>Categories</label><br />
          <select formControlName="CategoryName" name="CategoryName">
            <option *ngFor="let c of categories" value="{{c}}">{{c}}</option>
          </select>
          <div *ngIf="frmProduct.controls.CategoryName.dirty && !frmProduct.controls.CategoryName.valid"
            class="errorMessage">
            <p *ngIf="frmProduct.controls.CategoryName.errors.required">Value is must</p>
          </div>
        </div>
        <div>
          <label>Manufacturers</label><br />
          <select formControlName="Manufacturer" name="Manufacturer">
            <option *ngFor="let m of manufacturers" value="{{m}}">{{m}}</option>
          </select>
          <div *ngIf="frmProduct.controls.Manufacturer.dirty && !frmProduct.controls.Manufacturer.valid"
            class="errorMessage">
            <p *ngIf="frmProduct.controls.Manufacturer.errors.required">Value is must</p>
          </div>
        </div>
        <div>
          <label>Description</label><br />
          <input formControlName="Description" name="Description" type="text">
          <div *ngIf="frmProduct.controls.Description.dirty && !frmProduct.controls.Description.valid"
            class="errorMessage">
            <p *ngIf="frmProduct.controls.Description.errors.required">Value is must</p>
            <p *ngIf="frmProduct.controls.Description.errors.maxlength">Description must be not greater tha 100
              characters</p>
          </div>
        </div>
        <div>
          <label>Base Price</label><br />
          <input type="text" formControlName="BasePrice" name="BasePrice">
          <div *ngIf="frmProduct.controls.BasePrice.dirty && !frmProduct.controls.BasePrice.valid" class="errorMessage">
            <p *ngIf="frmProduct.controls.BasePrice.errors.required">Value is must</p>
            <p *ngIf="!frmProduct.controls.BasePrice.errors.valid">
              {{frmProduct.controls.BasePrice.errors.errorMessage}}</p>
          </div>
        </div>
        <div>
          <input type="button" value="Clear" (click)="clear()">
          <input type="submit" value="Save" [disabled]="!frmProduct.valid">
        </div>
      </form>
    </div>
  </div>
  <div class="row dataTable">
    <div class="col-xs-12">
      <div><input type="radio" (click)="sortTable('price asc')" name="sortOption" /><label>Price Ascending</label></div>
      <div><input type="radio" (click)="sortTable('price des')" name="sortOption" /><label>Price Descending</label>
      </div>
      <div><input type="radio" (click)="sortTable('name asc')" name="sortOption" /><label>Name Ascending</label></div>
      <div><input type="radio" (click)="sortTable('name des')" name="sortOption" /><label>Name Descending</label></div>
      <table>
        <thead>
          <tr>
            <th *ngFor="let h of headers" class="tableCell">{{h}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of products" (click)="getSelectedRecord(prd)" class="product-row">
            <td *ngFor="let h of headers" class="tableCell">{{prd[h]}}</td>
            <td><input type="button" value="Delete" (click)="deleteProduct(prd)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
