.product-row {
  cursor: pointer;
}

.dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.tableCell {
  border: 1px solid #ddd;
  padding: 8px;
}

.errorMessage {
  color: red;
}
